
header, .grid-container {
  max-width: min(960px, 94%);
  margin: 40px auto;
}

.grid-container {
  display: grid;
  grid-template-columns: 45.3% 45.3%;
  grid-gap: 30px;
}
  
.card {
  display: grid;
  border: 2px solid #d8d8d8;
  border-radius: 8px;
  grid-template-columns: 1fr;
}