/* ============================================= */
/*              Base styles                      */
/* ============================================= */

h1, h2, h3, p {
    font-family: 'Open Sans', sans-serif;
} 

p, hr, h1 {
    color: grey;
}

h2 {
    font-size: 18px;
}

p {
    min-width: max-content;
    font-size: 1.5vw;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(100, 100, 100, 0.4);
}

.modal {
    width: 375px;
    margin: 15% auto auto;
    position: relative;
    text-align: center;
    background: #fff;
    border: 1px solid #778;
    border-radius: 5px;
    padding: 30px 20px;
}

.modal-content p {
    padding: 8px;
}

.text-container {
    margin: auto auto auto 0px;
}

.text-container p, h2 {
    margin: 8px;
}

header h1 {
    margin: 60px auto 40px 10px;
    text-transform: uppercase;
    font-size: larger;
}

.hidden {
    display: none;
}